
<nav class="navbar bg-info">
  <div class="container-fluid">
    <a class="nav-link" href="#">home</a>
    <a class="nav-link" href="#">Proxy patient setup</a>
    <a class="nav-link" href="#">Login_userName</a>
  </div>
</nav>





     <!-- <div class="container text-center " text-center ><h3 id="dataHeading">header component table</h3>      
      <table class="table table-striped">
        <thead>
          <tr >
            <th>S.NO</th>
            <th>firstName</th>
            <th>lastName</th>
            <th>Email</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of studentDatas, let i=index;">
            <td>{{i+1}}</td>
            <td>{{student.firstName}}</td>
            <td>{{student.lastName}}</td>
            <td>{{student.email}}</td>
            <td>
              <button class="btn btn-primary">Edit</button>
              <button class="btn btn-danger">Delete</button>
            </td>
          </tr>
          
        </tbody>
      </table>
    </div> -->



