

.leftSideBar{
    height:100%;
    background-color: bisque;
}
.leftSideBar a{
  font-size: 25px;
  padding: 5px;
}
li a{
    text-decoration: none;
    color: brown;

}
ul{
    list-style-type: none;
}
li a:hover{
    color: blueviolet;
}
a{
    border: 1px;
}
