<div class="row container bg-body">
    <div class="leftSideBar">
         <table class="mt-2">
            <ul>
                <li ><a  routerLink="addaptient">Patient</a></li>
                <li><a href="#" (click)="togolObservation()">Observation </a></li>
                <ul *ngIf="togole">
                    <li><a href="#"  >Allergyintolerance</a></li>
                    <li><a href="#"  >Careplane</a></li>
                    <li><a href="#"  >DiabnosticReport</a></li>
                    <li><a href="#"  >Encounter</a></li>
                    <li><a href="#"  >Goal</a></li>
                    <li><a href="#"  >Immunization</a></li>
                    <li><a href="#"  >location</a></li>
                    <li><a href="#"  >Medication</a></li>
                    <li><a href="#"  >Medication Statement</a></li>
                    <li><a href="#"  >Medication Repoets</a></li>
                    <li><a href="#"  >Procedure</a></li>
                    <li><a href="#"  >USCD organisation</a></li>
                </ul>
                
            </ul>
         </table>
    </div>
</div>