   <h3 class="text-center"> add student pages</h3>
<div class="container mt-2">
       <button class="btn btn-primary" type="button"> Add patient</button>


  <div class="row">
    <div class="col-sm-6">
   <div class="  mt-2">
                      <!-- adding student form -->
      
      <div class="row">
        <h3 id="pfHeading">CR Patient</h3>

      </div>
      <form [formGroup]="formData" class="justify-content-center studentForm">
          <div class="mb-3">
            <label  class="form-label">first Name</label>
            <input type="text" class="form-control" formControlName="firstName" aria-describedby="emailHelp">
          </div>

          <div class="mb-3">
            <label  class="form-label">Last Name</label>
            <input type="text" class="form-control" formControlName="lastName" aria-describedby="emailHelp">
          </div>

          <div class="mb-3">
            <label  class="form-label">Email address</label>
            <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp">
          </div>
          
          <button type="submit" (click)="submitDetails()" class="btn btn-primary">Add Details</button>
        </form>
    </div>
</div>

  <!-- <tr *ngFor="let student of studentDatas" >
    <p>{{student.firstName}}</p>
    <p>{{student.lastName}}</p>
    <p>{{student.email}}</p>
</tr> -->

                <!-- table to show form data  -->

  <div class="col-sm-6 mt-3 ">

    <!-- <div class="container" ><h3 id="dataHeading">Data</h3>      
      <table class="table table-striped">
        <thead>
          <tr >
            <th>S.NO</th>
            <th>firstName</th>
            <th>lastName</th>
            <th>Email</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of studentDatas, let i=index;">
            <td>{{i+1}}</td>
            <td>{{student.firstName}}</td>
            <td>{{student.lastName}}</td>
            <td>{{student.email}}</td>
            <td>
              <button class="btn btn-primary">Edit</button>
              <button class="btn btn-danger">Delete</button>
            </td>
          </tr>
          
        </tbody>
      </table>
    </div> -->

  </div>


  
